# Visual Studio Code/Editor specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
.vs/
*.njsproj.user
*.pubxml.user

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/.nupkg
!**/packages/build/*.nupkg
# Cache files created by Nuget
*.nuget.props
*.nuget.targets

# My specific exclusions
# IMPORTANT: Ignore your API key file!
RAWG_API.txt 
# Or if you put it elsewhere, adjust the path: e.g. /config/RAWG_API.txt

# Others
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# Service Fabric specific files
*.[Ss][Ff][Pp]roj.user

# Windows Installer files
*.wixproj.user

# FSharp project cache
.fsharp.cache

# Rider specific files
.idea/
*.sln.iml

# Backup files from Visual Studio
*.[Bb]ak

# ReSharper specific files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
/LaunchBoxGameSizeManager.Plugin/RARG_API.txt
/LaunchBoxGameSizeManager.Plugin/RARG_API_KEY.txt
